<!DOCTYPE html>
<html>
	<head>
		<title>Preico</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag 'application', media: 'all' %>
	</head>

	<body>
		<div>
			<% if current_user %>
				Ola, <%= current_user.email %>.
				Sessoes:
				<% if current_user.admin? %>
					<%= link_to 'area administrativa', admin_path %> |
				<% end %>
				<%= link_to 'area principal', home_path %>
				<%= button_to "sair", auth_logout_path %>
			<% else %>
				Ola, visitante.
			<% end %>
		</div>
		<hr/>
		<% flash.each do |k, v| %>
	        <p style="color: white; background: black;">
	        	<span style="font-weight: bold">
	        		<%= k %>:
	        	</span>
	        	<%= v %>
			</p>
			<hr/>
		<% end %>

		<%= yield %>
	</body>
</html>
